<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="b5.project.medibro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".InitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Welcome"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".Welcome"
            android:theme="@style/AppTheme.">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="b5.project.medibro.Welcome" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddPrescription"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="b5.project.medibro.Dashboard" />
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".receivers.AlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="b5.project.medibro.receivers.AlarmReceiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.CancelAlarmBroadcastReceiver"
            android:enabled="true" />

        <!-- Will not be called unless the application explicitly enables it -->
        <receiver
            android:name=".receivers.DeviceBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MedicationDetails"
            android:label="@string/title_activity_medication_details"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="b5.project.medibro.Dashboard" />
        </activity>
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="b5.project.medibro.Dashboard" />
        </activity>
        <activity
            android:name=".AddQuestion"
            android:label="@string/title_activity_add_question"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="b5.project.medibro.Dashboard" />
        </activity>
        <activity
            android:name=".FeedItemDetails"
            android:label="@string/title_activity_feed_item_details"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="b5.project.medibro.Dashboard" />
        </activity>
        <activity
            android:name=".AddComment"
            android:label="@string/title_activity_add_comment"
            android:parentActivityName=".FeedItemDetails"
            android:theme="@style/AppTheme.">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="b5.project.medibro.FeedItemDetails" />
        </activity>
    </application>

</manifest>
